<md-content class="md-padding">

<h2 class="md-display-3">{{model.app_name}}</h2>
<h1 class="md-display-1">Cohort: {{#link-to 'cohort' model.cohort}}{{model.cohort.display_name}}{{/link-to}}</h1>
<h2 class="md-display-1">App Url: {{model.app_url}}</h2>
<p>
  <strong>Rationale</strong><br/>
  {{model.rationale}}
</p>

<p>
  <strong>Tech Used</strong><br/>
  {{model.tech_used}}
</p>

<h2>Student(s) on Project</h2>

{{#link-to 'project.addstudent' model}}Add Yourself{{/link-to}}


<ul>
{{#each model.students as |student|}}
  <li>{{student.name}}</li>

{{else}}
  <li>No students on this project (yet)</li>
{{/each}}
</ul>



{{outlet}}

</md-content>
