
<md-content class="md-padding">

<h2 class="md-display-3">{{model.city}} {{model.demo_day_date}}</h2>



<ul>
  <li>If you need to add yourself to a group listed below, visit the project.</li>
  <li>If you don't see your project below (group or individual), {{#link-to 'cohort.register'}}Register Your Project{{/link-to}}</li>
</ul>

<h2 class="md-display-2">Registered Projects</h2>
<div class="display-content">
  <md-content class="md-padding cards">
    {{#each model.projects as |project|}}
    <md-card class="card">
        <md-card-content>
          <h1 class="md-display-1">{{#link-to 'project.show' project}}{{project.app_name}}{{/link-to}}</h1>
          <h1 class="md-title">Students on Project</h1>
          {{#each project.students as |student|}}
            <li>{{student.name}}</li>
          {{else}}
            <li>No students on this project (yet)</li>
          {{/each}}

        </md-card-content>
      </md-card>

    {{else}}
      <h2 class="md-display-2">No projects registered for Cohort (yet)</h2>
    {{/each}}
  </md-content>
</div>

{{outlet}}

</md-content>
